/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: currentColor;
}

ul {
  list-style: none;
}
/* UTILS */

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/* HEADER */

.header-title {
  font-family: "Nerko One", cursive;
  font-weight: 600;
  font-style: normal;
  color: #ff9614;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

/* MAIN */

.dessert {
  font-weight: 600;
  font-style: normal;
  color: #c5c2bf;
  padding-bottom: 20px;
}

.main-title {
  font-weight: bold;
  font-style: normal;
  color: #4d3874;
  font-size: 2rem;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

#card {
  background-color: white;
}

.card-title-description {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px;
  margin-left: 20px;
}

.preparation-list {
  line-height: 2.5rem;
  font-size: 19px;
  padding-bottom: 60px;
  margin-left: 20px;
}

.img-tiramisù {
  margin: 0;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

i {
  padding: 4px;
}

.icon span {
  display: none;
  background-color: white;
}

.banner {
  display: none;
}

.title-presentation {
  width: 60px;
  border-bottom: 1px solid #ff9614;
  padding-bottom: 20px;
}

.recipe-tiramisù {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.recipe {
  text-align: center;
}

.recipe-description {
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
}
/* FOOTER */

footer {
  background-color: #7c69a4;
  color: white;
}

.copyright {
  font-weight: bolder;
}

.footer-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.footer-bottom {
  width: 100%;
  padding-top: 20px;
}

.link-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
