/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: currentColor;
}

ul {
  list-style: none;
}
/* UTILS */

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/* HEADER */

header {
  background-color: white;
  align-items: center;
}

.header-title {
  font-family: "Nerko One", cursive;
  font-weight: 600;
  font-style: normal;
  color: #ff9614;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
  padding: 30px;
}

/* MAIN */

.dessert {
  font-weight: 600;
  font-style: normal;
  color: #c5c2bf;
  padding-bottom: 20px;
}

.main-title {
  font-weight: bold;
  font-style: normal;
  color: #4d3874;
  font-size: 2rem;
  padding-bottom: 20px;
}

.hidden {
  font-weight: bold;
  font-style: normal;
  color: #4d3874;
  font-size: 2rem;
  display: none;
}

.card-title-description {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px;
  margin-left: 20px;
}

.preparation-list {
  line-height: 2.5rem;
  font-size: 19px;
  padding-bottom: 60px;
  margin-left: 20px;
}

.img-tiramisù {
  margin: 0;
  display: block;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-icon {
  padding: 4px;
  background-color: white;
  border-radius: 10%;
}

.icon span {
  display: none;
}

.banner {
  display: none;
}

.title-presentation {
  width: 60px;
  border-bottom: 1px solid #ff9614;
  padding-bottom: 20px;
}

.recipe-tiramisù {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: none;
}

.recipe {
  text-align: center;
}

.recipe-description {
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
}
/* FOOTER */

footer {
  background-color: #7c69a4;
  color: white;
  padding: 10px;
  justify-content: center;
}

.copyright {
  font-weight: bolder;
}

.footer-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

/* RESPONSIVE */

/* MEDIUM DISPOSITIVE */

@media screen and (min-width: 768px) {
  .header-title {
    text-align: left;
  }

  .dessert {
    padding-top: 30px;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .hidden {
    display: block;
    font-size: 2.5rem;
  }

  .title {
    display: flex;
    gap: 3px;
  }

  .preparation-list {
    display: flex;
    flex-wrap: wrap;
  }

  #card li {
    display: inline-block;
    padding-right: 40px;
    width: calc(100% / 3);
  }

  .recipe-tiramisù {
    float: left;
    margin-right: 10px;
  }

  .clear-fix::after {
    content: "";
    clear: both;
    display: table;
  }

  .button-icon {
    padding: 4px 20px;
  }

  .banner {
    display: block;
    padding-bottom: 20px;
  }
}

/* DISPOSITIVI LARGE */

@media screen and (min-width: 992px) {
  .main-title {
    font-size: 2.8rem;
  }

  .hidden {
    font-size: 2.8rem;
  }

  #card li {
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .preparation-list {
    display: flex;
  }

  .card-media {
    width: 70%;
  }

  .card-content {
    width: 30%;
  }

  .icon span {
    display: inline-block;
  }

  .button-icon {
    padding: 10px 30px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .footer-top {
    width: auto;
    flex-direction: column;
  }

  .footer-bottom {
    width: auto;
  }

  .card-title-description {
    padding-top: 30px;
  }
}
