/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* UTILS */

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/* HEADER */

.header-title {
  font-family: "Nerko One", cursive;
  font-weight: 600;
  font-style: normal;
  color: #ff9614;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

/* MAIN */

.dessert {
  font-weight: 600;
  font-style: normal;
  color: #c5c2bf;
  padding-bottom: 20px;
}

.tiramisù {
  font-weight: bold;
  font-style: normal;
  color: #4d3874;
  font-size: 2rem;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.card-title-description {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.preparation-list {
  line-height: 2.5rem;
  font-size: 19px;
  padding-bottom: 30px;
}

/* FOOTER */
